<!-- <p>parent1 works!</p> -->
<!-- <app-child [inputDataa]="message"></app-child> -->
<!-- <input type="text" ([ngModel])="inputdata",([ngModel])='passworddata'> -->

<!-- <input type="text" [inputdata]="inputdata"> -->
<!-- <label>name</label>
<input type="text" ([ngModel])="inputdata" >
<label>password</label>
<input type="text" ([ngModel])="passworddata"> -->
<!-- <div class="c1">
     <app-child [inputData]="message"></app-child> -->

<!-- </div> --> 
<!-- <div>
    <app-child [inputData]="parentMessage"></app-child>

</div> -->
<app-child (event)="receiveMessage($event)"></app-child>
{{messages}}

