<!-- <h1>{{title}}</h1>
<img [src]="imgPath" alt="mouika">
s<button (/ -->
<p>{{date | date:'fullDate'}}</p>
<p>{{date | date:'short'}}</p>
<p>{{date | date:'medium'}}</p>
<p>{{(0.65) | currency}}</p>

 <!-- {{ today | date [ : format [ : timezone [ : locale ] ] ] }} -->
<h1 class="btn btn-primary">check bootstrap</h1>




<router-outlet></router-outlet>
<!-- <app-forms></app-forms> -->