<p>updates works!</p>
<!-- <a [routerLink]="['/','home','dashboard']">
    Link that uses a string.
  </a> -->
  <!-- <a routerLink="/dashboard">
dashboard  </a>
<br>
  <a [routerLink]="['/home']">
home  </a>
<br>
  <a [routerLink]="['/features']">
features  </a> -->
<button (click)="sendMessage()">send message</button>

