<h2>home page</h2>
<h5>enter user name</h5>
<input type="text" [(ngModel)]="twoway">
<h5>enter password</h5>
<input type="text" [(ngModel)]="twoway1">
<br><br>
<button (click)="navigate()">submit</button>
<button (click)="navigate1()">child navigate</button>
<div *ngIf="condition">condition is true.</div>

<h3 appCustomdir>custom directory</h3>

{{twoway}}
{{twoway1}}
<router-outlet></router-outlet>
<!-- <table>
    <tr>
    <th>id</th>
    <th>first_name</th>
    <th>last_name</th>
    <th>email</th>
    <th>gender</th>
</tr>

    <tr *ngFor="let x of arr">
        <td >{{x.id}}</td>
        <td>{{x.first_name}}</td>
        <td>{{x.last_name}}</td>
        <td>{{x.email}}</td>
        <td>{{x.gender}}</td>
    </tr> -->
    <p *ngFor="let x of arr">
        
    <button id="remove" (click)="deleteRows()">DELETE ROW</button>
    {{x.id}}.{{x.first_name}}.{{x.last_name}}.{{x.email}}.{{x.gender}}
</p>
<!-- </table> -->





