<p>structural works!</p>
<!-- <div *ngIf="condition else x">condition is true.</div>
<ng-template #x>else condition</ng-template> -->
<table [ngStyle]="{'border-collapse':'collapse','border':'2px solid red'}">
    <tr>
    <th [ngStyle]="{'border':'2px solid red'}">id</th>
    <th [ngStyle]="{'border':'2px solid red'}">first_name</th>
    <th [ngStyle]="{'border':'2px solid red'}">last_name</th>
    <th [ngStyle]="{'border':'2px solid red'}">email</th>
    <th [ngStyle]="{'border':'2px solid red'}">gender</th>
</tr>
    <tr *ngFor="let x of arr" >
        <td [ngStyle]="{'border':'2px solid red'}">{{x.id}}</td>
        <td [ngStyle]="{'border':'2px solid red'}">{{x.first_name}}</td>
        <td [ngStyle]="{'border':'2px solid red'}">{{x.last_name}}</td>
        <td [ngStyle]="{'border':'2px solid red'}">{{x.email}}</td>
        <td [ngStyle]="{'border':'2px solid red'}">{{x.gender}}</td>
    </tr>
</table>
<h2 [ngClass]="{header}">ng class example</h2>

<div [ngSwitch]="value">
    <h1 *ngSwitchCase="1">case1</h1>
    <h1 *ngSwitchCase="2">case2</h1>
    <h1 *ngSwitchCase="'3'">case3</h1>
    <h1 *ngSwitchDefault>default</h1>
    </div>
{{value}}
